In [1]:
import pandas as pd
import numpy as np



import warnings
warnings.filterwarnings('ignore')

calendar= pd.read_csv(r'C:\Users\Varun\Desktop\Project\Dataset\m5_best_data\m5-forecasting-accuracy\calendar.csv')
price=  pd.read_csv(r'C:\Users\Varun\Desktop\Project\Dataset\m5_best_data\m5-forecasting-accuracy\sell_prices.csv')
sales=  pd.read_csv(r'C:\Users\Varun\Desktop\Project\Dataset\m5_best_data\m5-forecasting-accuracy\sales_train_evaluation.csv')

In [2]:
sales

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [3]:
sales.id.unique().tolist()

['HOBBIES_1_001_CA_1_evaluation',
 'HOBBIES_1_002_CA_1_evaluation',
 'HOBBIES_1_003_CA_1_evaluation',
 'HOBBIES_1_004_CA_1_evaluation',
 'HOBBIES_1_005_CA_1_evaluation',
 'HOBBIES_1_006_CA_1_evaluation',
 'HOBBIES_1_007_CA_1_evaluation',
 'HOBBIES_1_008_CA_1_evaluation',
 'HOBBIES_1_009_CA_1_evaluation',
 'HOBBIES_1_010_CA_1_evaluation',
 'HOBBIES_1_011_CA_1_evaluation',
 'HOBBIES_1_012_CA_1_evaluation',
 'HOBBIES_1_013_CA_1_evaluation',
 'HOBBIES_1_014_CA_1_evaluation',
 'HOBBIES_1_015_CA_1_evaluation',
 'HOBBIES_1_016_CA_1_evaluation',
 'HOBBIES_1_017_CA_1_evaluation',
 'HOBBIES_1_018_CA_1_evaluation',
 'HOBBIES_1_019_CA_1_evaluation',
 'HOBBIES_1_020_CA_1_evaluation',
 'HOBBIES_1_021_CA_1_evaluation',
 'HOBBIES_1_022_CA_1_evaluation',
 'HOBBIES_1_023_CA_1_evaluation',
 'HOBBIES_1_024_CA_1_evaluation',
 'HOBBIES_1_025_CA_1_evaluation',
 'HOBBIES_1_026_CA_1_evaluation',
 'HOBBIES_1_027_CA_1_evaluation',
 'HOBBIES_1_028_CA_1_evaluation',
 'HOBBIES_1_029_CA_1_evaluation',
 'HOBBIES_1_030_CA_1_evaluation',
 'HOBBIES_1_031_CA_1_evaluation',
 'HOBBIES_1_032_CA_1_evaluation',
 'HOBBIES_1_033_CA_1_evaluation',
 'HOBBIES_1_034_CA_1_evaluation',
 'HOBBIES_1_035_CA_1_evaluation',
 'HOBBIES_1_036_CA_1_evaluation',
 'HOBBIES_1_037_CA_1_evaluation',
 'HOBBIES_1_038_CA_1_evaluation',
 'HOBBIES_1_039_CA_1_evaluation',
 'HOBBIES_1_040_CA_1_evaluation',
 'HOBBIES_1_041_CA_1_evaluation',
 'HOBBIES_1_042_CA_1_evaluation',
 'HOBBIES_1_043_CA_1_evaluation',
 'HOBBIES_1_044_CA_1_evaluation',
 'HOBBIES_1_045_CA_1_evaluation',
 'HOBBIES_1_046_CA_1_evaluation',
 'HOBBIES_1_047_CA_1_evaluation',
 'HOBBIES_1_048_CA_1_evaluation',
 'HOBBIES_1_049_CA_1_evaluation',
 'HOBBIES_1_050_CA_1_evaluation',
 'HOBBIES_1_051_CA_1_evaluation',
 'HOBBIES_1_052_CA_1_evaluation',
 'HOBBIES_1_053_CA_1_evaluation',
 'HOBBIES_1_054_CA_1_evaluation',
 'HOBBIES_1_055_CA_1_evaluation',
 'HOBBIES_1_056_CA_1_evaluation',
 'HOBBIES_1_057_CA_1_evaluation',
 'HOBBIES_1_058_CA_1_evaluation',
 'HOBBIES_1_060_CA_1_evaluation',
 'HOBBIES_1_061_CA_1_evaluation',
 'HOBBIES_1_062_CA_1_evaluation',
 'HOBBIES_1_063_CA_1_evaluation',
 'HOBBIES_1_064_CA_1_evaluation',
 'HOBBIES_1_065_CA_1_evaluation',
 'HOBBIES_1_066_CA_1_evaluation',
 'HOBBIES_1_067_CA_1_evaluation',
 'HOBBIES_1_068_CA_1_evaluation',
 'HOBBIES_1_069_CA_1_evaluation',
 'HOBBIES_1_070_CA_1_evaluation',
 'HOBBIES_1_072_CA_1_evaluation',
 'HOBBIES_1_073_CA_1_evaluation',
 'HOBBIES_1_074_CA_1_evaluation',
 'HOBBIES_1_075_CA_1_evaluation',
 'HOBBIES_1_076_CA_1_evaluation',
 'HOBBIES_1_077_CA_1_evaluation',
 'HOBBIES_1_078_CA_1_evaluation',
 'HOBBIES_1_079_CA_1_evaluation',
 'HOBBIES_1_080_CA_1_evaluation',
 'HOBBIES_1_081_CA_1_evaluation',
 'HOBBIES_1_082_CA_1_evaluation',
 'HOBBIES_1_083_CA_1_evaluation',
 'HOBBIES_1_084_CA_1_evaluation',
 'HOBBIES_1_085_CA_1_evaluation',
 'HOBBIES_1_086_CA_1_evaluation',
 'HOBBIES_1_087_CA_1_evaluation',
 'HOBBIES_1_088_CA_1_evaluation',
 'HOBBIES_1_089_CA_1_evaluation',
 'HOBBIES_1_090_CA_1_evaluation',
 'HOBBIES_1_091_CA_1_evaluation',
 'HOBBIES_1_092_CA_1_evaluation',
 'HOBBIES_1_093_CA_1_evaluation',
 'HOBBIES_1_094_CA_1_evaluation',
 'HOBBIES_1_095_CA_1_evaluation',
 'HOBBIES_1_097_CA_1_evaluation',
 'HOBBIES_1_098_CA_1_evaluation',
 'HOBBIES_1_099_CA_1_evaluation',
 'HOBBIES_1_100_CA_1_evaluation',
 'HOBBIES_1_102_CA_1_evaluation',
 'HOBBIES_1_103_CA_1_evaluation',
 'HOBBIES_1_104_CA_1_evaluation',
 'HOBBIES_1_105_CA_1_evaluation',
 'HOBBIES_1_106_CA_1_evaluation',
 'HOBBIES_1_107_CA_1_evaluation',
 'HOBBIES_1_108_CA_1_evaluation',
 'HOBBIES_1_109_CA_1_evaluation',
 'HOBBIES_1_110_CA_1_evaluation',
 'HOBBIES_1_111_CA_1_evaluation',
 'HOBBIES_1_112_CA_1_evaluation',
 'HOBBIES_1_113_CA_1_evaluation',
 'HOBBIES_1_114_CA_1_evaluation',
 'HOBBIES_1_115_CA_1_evaluation',
 'HOBBIES_1_116_CA_1_evaluation',
 'HOBBIES_1_117_CA_1_evaluation',
 'HOBBIES_1_118_CA_1_evaluation',
 'HOBBIES_1_119_CA_1_evaluation',
 'HOBBIES_1_120_CA_1_evaluation',
 'HOBBIES_1_121_CA_1_evaluation',
 'HOBBIES_1_122_CA_1_evaluation',
 'HOBBIES_1_123_CA_1_evaluation',
 'HOBBIES_1_124_CA_1_evaluation',
 'HOBBIES_1_125_CA_1_evaluation',
 'HOBBIES_1_126_CA_1_evaluation',
 'HOBBIES_1_127_CA_1_evaluation',
 'HOBBIES_1_128_CA_1_evaluation',
 'HOBBIES_1_129_CA_1_evaluation',
 'HOBBIES_1_130_CA_1_evaluation',
 'HOBBIES_1_131_CA_1_evaluation',
 'HOBBIES_1_132_CA_1_evaluation',
 'HOBBIES_1_133_CA_1_evaluation',
 'HOBBIES_1_134_CA_1_evaluation',
 'HOBBIES_1_135_CA_1_evaluation',
 'HOBBIES_1_136_CA_1_evaluation',
 'HOBBIES_1_137_CA_1_evaluation',
 'HOBBIES_1_138_CA_1_evaluation',
 'HOBBIES_1_139_CA_1_evaluation',
 'HOBBIES_1_140_CA_1_evaluation',
 'HOBBIES_1_141_CA_1_evaluation',
 'HOBBIES_1_142_CA_1_evaluation',
 'HOBBIES_1_143_CA_1_evaluation',
 'HOBBIES_1_144_CA_1_evaluation',
 'HOBBIES_1_145_CA_1_evaluation',
 'HOBBIES_1_146_CA_1_evaluation',
 'HOBBIES_1_147_CA_1_evaluation',
 'HOBBIES_1_148_CA_1_evaluation',
 'HOBBIES_1_149_CA_1_evaluation',
 'HOBBIES_1_150_CA_1_evaluation',
 'HOBBIES_1_151_CA_1_evaluation',
 'HOBBIES_1_152_CA_1_evaluation',
 'HOBBIES_1_153_CA_1_evaluation',
 'HOBBIES_1_154_CA_1_evaluation',
 'HOBBIES_1_155_CA_1_evaluation',
 'HOBBIES_1_156_CA_1_evaluation',
 'HOBBIES_1_157_CA_1_evaluation',
 'HOBBIES_1_158_CA_1_evaluation',
 'HOBBIES_1_159_CA_1_evaluation',
 'HOBBIES_1_160_CA_1_evaluation',
 'HOBBIES_1_161_CA_1_evaluation',
 'HOBBIES_1_162_CA_1_evaluation',
 'HOBBIES_1_163_CA_1_evaluation',
 'HOBBIES_1_164_CA_1_evaluation',
 'HOBBIES_1_165_CA_1_evaluation',
 'HOBBIES_1_166_CA_1_evaluation',
 'HOBBIES_1_167_CA_1_evaluation',
 'HOBBIES_1_168_CA_1_evaluation',
 'HOBBIES_1_169_CA_1_evaluation',
 'HOBBIES_1_170_CA_1_evaluation',
 'HOBBIES_1_171_CA_1_evaluation',
 'HOBBIES_1_172_CA_1_evaluation',
 'HOBBIES_1_173_CA_1_evaluation',
 'HOBBIES_1_174_CA_1_evaluation',
 'HOBBIES_1_175_CA_1_evaluation',
 'HOBBIES_1_176_CA_1_evaluation',
 'HOBBIES_1_177_CA_1_evaluation',
 'HOBBIES_1_178_CA_1_evaluation',
 'HOBBIES_1_179_CA_1_evaluation',
 'HOBBIES_1_180_CA_1_evaluation',
 'HOBBIES_1_181_CA_1_evaluation',
 'HOBBIES_1_183_CA_1_evaluation',
 'HOBBIES_1_184_CA_1_evaluation',
 'HOBBIES_1_185_CA_1_evaluation',
 'HOBBIES_1_186_CA_1_evaluation',
 'HOBBIES_1_187_CA_1_evaluation',
 'HOBBIES_1_188_CA_1_evaluation',
 'HOBBIES_1_189_CA_1_evaluation',
 'HOBBIES_1_190_CA_1_evaluation',
 'HOBBIES_1_191_CA_1_evaluation',
 'HOBBIES_1_192_CA_1_evaluation',
 'HOBBIES_1_193_CA_1_evaluation',
 'HOBBIES_1_194_CA_1_evaluation',
 'HOBBIES_1_195_CA_1_evaluation',
 'HOBBIES_1_197_CA_1_evaluation',
 'HOBBIES_1_198_CA_1_evaluation',
 'HOBBIES_1_199_CA_1_evaluation',
 'HOBBIES_1_200_CA_1_evaluation',
 'HOBBIES_1_201_CA_1_evaluation',
 'HOBBIES_1_202_CA_1_evaluation',
 'HOBBIES_1_203_CA_1_evaluation',
 'HOBBIES_1_204_CA_1_evaluation',
 'HOBBIES_1_205_CA_1_evaluation',
 'HOBBIES_1_206_CA_1_evaluation',
 'HOBBIES_1_207_CA_1_evaluation',
 'HOBBIES_1_208_CA_1_evaluation',
 'HOBBIES_1_209_CA_1_evaluation',
 'HOBBIES_1_210_CA_1_evaluation',
 'HOBBIES_1_211_CA_1_evaluation',
 'HOBBIES_1_212_CA_1_evaluation',
 'HOBBIES_1_213_CA_1_evaluation',
 'HOBBIES_1_214_CA_1_evaluation',
 'HOBBIES_1_215_CA_1_evaluation',
 'HOBBIES_1_216_CA_1_evaluation',
 'HOBBIES_1_217_CA_1_evaluation',
 'HOBBIES_1_218_CA_1_evaluation',
 'HOBBIES_1_219_CA_1_evaluation',
 'HOBBIES_1_220_CA_1_evaluation',
 'HOBBIES_1_221_CA_1_evaluation',
 'HOBBIES_1_223_CA_1_evaluation',
 'HOBBIES_1_224_CA_1_evaluation',
 'HOBBIES_1_225_CA_1_evaluation',
 'HOBBIES_1_226_CA_1_evaluation',
 'HOBBIES_1_227_CA_1_evaluation',
 'HOBBIES_1_228_CA_1_evaluation',
 'HOBBIES_1_229_CA_1_evaluation',
 'HOBBIES_1_230_CA_1_evaluation',
 'HOBBIES_1_231_CA_1_evaluation',
 'HOBBIES_1_232_CA_1_evaluation',
 'HOBBIES_1_233_CA_1_evaluation',
 'HOBBIES_1_234_CA_1_evaluation',
 'HOBBIES_1_235_CA_1_evaluation',
 'HOBBIES_1_236_CA_1_evaluation',
 'HOBBIES_1_237_CA_1_evaluation',
 'HOBBIES_1_238_CA_1_evaluation',
 'HOBBIES_1_239_CA_1_evaluation',
 'HOBBIES_1_240_CA_1_evaluation',
 'HOBBIES_1_241_CA_1_evaluation',
 'HOBBIES_1_242_CA_1_evaluation',
 'HOBBIES_1_243_CA_1_evaluation',
 'HOBBIES_1_244_CA_1_evaluation',
 'HOBBIES_1_245_CA_1_evaluation',
 'HOBBIES_1_246_CA_1_evaluation',
 'HOBBIES_1_247_CA_1_evaluation',
 'HOBBIES_1_248_CA_1_evaluation',
 'HOBBIES_1_249_CA_1_evaluation',
 'HOBBIES_1_250_CA_1_evaluation',
 'HOBBIES_1_251_CA_1_evaluation',
 'HOBBIES_1_252_CA_1_evaluation',
 'HOBBIES_1_253_CA_1_evaluation',
 'HOBBIES_1_254_CA_1_evaluation',
 'HOBBIES_1_255_CA_1_evaluation',
 'HOBBIES_1_256_CA_1_evaluation',
 'HOBBIES_1_257_CA_1_evaluation',
 'HOBBIES_1_258_CA_1_evaluation',
 'HOBBIES_1_259_CA_1_evaluation',
 'HOBBIES_1_260_CA_1_evaluation',
 'HOBBIES_1_261_CA_1_evaluation',
 'HOBBIES_1_262_CA_1_evaluation',
 'HOBBIES_1_263_CA_1_evaluation',
 'HOBBIES_1_264_CA_1_evaluation',
 'HOBBIES_1_265_CA_1_evaluation',
 'HOBBIES_1_266_CA_1_evaluation',
 'HOBBIES_1_267_CA_1_evaluation',
 'HOBBIES_1_268_CA_1_evaluation',
 'HOBBIES_1_269_CA_1_evaluation',
 'HOBBIES_1_270_CA_1_evaluation',
 'HOBBIES_1_271_CA_1_evaluation',
 'HOBBIES_1_272_CA_1_evaluation',
 'HOBBIES_1_273_CA_1_evaluation',
 'HOBBIES_1_274_CA_1_evaluation',
 'HOBBIES_1_275_CA_1_evaluation',
 'HOBBIES_1_276_CA_1_evaluation',
 'HOBBIES_1_277_CA_1_evaluation',
 'HOBBIES_1_278_CA_1_evaluation',
 'HOBBIES_1_279_CA_1_evaluation',
 'HOBBIES_1_280_CA_1_evaluation',
 'HOBBIES_1_281_CA_1_evaluation',
 'HOBBIES_1_282_CA_1_evaluation',
 'HOBBIES_1_283_CA_1_evaluation',
 'HOBBIES_1_284_CA_1_evaluation',
 'HOBBIES_1_285_CA_1_evaluation',
 'HOBBIES_1_286_CA_1_evaluation',
 'HOBBIES_1_287_CA_1_evaluation',
 'HOBBIES_1_288_CA_1_evaluation',
 'HOBBIES_1_289_CA_1_evaluation',
 'HOBBIES_1_290_CA_1_evaluation',
 'HOBBIES_1_292_CA_1_evaluation',
 'HOBBIES_1_293_CA_1_evaluation',
 'HOBBIES_1_294_CA_1_evaluation',
 'HOBBIES_1_295_CA_1_evaluation',
 'HOBBIES_1_296_CA_1_evaluation',
 'HOBBIES_1_297_CA_1_evaluation',
 'HOBBIES_1_298_CA_1_evaluation',
 'HOBBIES_1_299_CA_1_evaluation',
 'HOBBIES_1_300_CA_1_evaluation',
 'HOBBIES_1_301_CA_1_evaluation',
 'HOBBIES_1_302_CA_1_evaluation',
 'HOBBIES_1_303_CA_1_evaluation',
 'HOBBIES_1_304_CA_1_evaluation',
 'HOBBIES_1_305_CA_1_evaluation',
 'HOBBIES_1_306_CA_1_evaluation',
 'HOBBIES_1_307_CA_1_evaluation',
 'HOBBIES_1_308_CA_1_evaluation',
 'HOBBIES_1_309_CA_1_evaluation',
 'HOBBIES_1_310_CA_1_evaluation',
 'HOBBIES_1_311_CA_1_evaluation',
 'HOBBIES_1_312_CA_1_evaluation',
 'HOBBIES_1_313_CA_1_evaluation',
 'HOBBIES_1_314_CA_1_evaluation',
 'HOBBIES_1_315_CA_1_evaluation',
 'HOBBIES_1_316_CA_1_evaluation',
 'HOBBIES_1_317_CA_1_evaluation',
 'HOBBIES_1_318_CA_1_evaluation',
 'HOBBIES_1_319_CA_1_evaluation',
 'HOBBIES_1_320_CA_1_evaluation',
 'HOBBIES_1_321_CA_1_evaluation',
 'HOBBIES_1_322_CA_1_evaluation',
 'HOBBIES_1_323_CA_1_evaluation',
 'HOBBIES_1_324_CA_1_evaluation',
 'HOBBIES_1_325_CA_1_evaluation',
 'HOBBIES_1_326_CA_1_evaluation',
 'HOBBIES_1_327_CA_1_evaluation',
 'HOBBIES_1_328_CA_1_evaluation',
 'HOBBIES_1_329_CA_1_evaluation',
 'HOBBIES_1_330_CA_1_evaluation',
 'HOBBIES_1_331_CA_1_evaluation',
 'HOBBIES_1_332_CA_1_evaluation',
 'HOBBIES_1_333_CA_1_evaluation',
 'HOBBIES_1_334_CA_1_evaluation',
 'HOBBIES_1_335_CA_1_evaluation',
 'HOBBIES_1_336_CA_1_evaluation',
 'HOBBIES_1_337_CA_1_evaluation',
 'HOBBIES_1_338_CA_1_evaluation',
 'HOBBIES_1_339_CA_1_evaluation',
 'HOBBIES_1_340_CA_1_evaluation',
 'HOBBIES_1_341_CA_1_evaluation',
 'HOBBIES_1_342_CA_1_evaluation',
 'HOBBIES_1_343_CA_1_evaluation',
 'HOBBIES_1_344_CA_1_evaluation',
 'HOBBIES_1_345_CA_1_evaluation',
 'HOBBIES_1_346_CA_1_evaluation',
 'HOBBIES_1_347_CA_1_evaluation',
 'HOBBIES_1_348_CA_1_evaluation',
 'HOBBIES_1_349_CA_1_evaluation',
 'HOBBIES_1_350_CA_1_evaluation',
 'HOBBIES_1_351_CA_1_evaluation',
 'HOBBIES_1_352_CA_1_evaluation',
 'HOBBIES_1_353_CA_1_evaluation',
 'HOBBIES_1_354_CA_1_evaluation',
 'HOBBIES_1_355_CA_1_evaluation',
 'HOBBIES_1_356_CA_1_evaluation',
 'HOBBIES_1_357_CA_1_evaluation',
 'HOBBIES_1_358_CA_1_evaluation',
 'HOBBIES_1_359_CA_1_evaluation',
 'HOBBIES_1_360_CA_1_evaluation',
 'HOBBIES_1_361_CA_1_evaluation',
 'HOBBIES_1_362_CA_1_evaluation',
 'HOBBIES_1_363_CA_1_evaluation',
 'HOBBIES_1_364_CA_1_evaluation',
 'HOBBIES_1_365_CA_1_evaluation',
 'HOBBIES_1_366_CA_1_evaluation',
 'HOBBIES_1_367_CA_1_evaluation',
 'HOBBIES_1_368_CA_1_evaluation',
 'HOBBIES_1_369_CA_1_evaluation',
 'HOBBIES_1_370_CA_1_evaluation',
 'HOBBIES_1_371_CA_1_evaluation',
 'HOBBIES_1_372_CA_1_evaluation',
 'HOBBIES_1_373_CA_1_evaluation',
 'HOBBIES_1_374_CA_1_evaluation',
 'HOBBIES_1_375_CA_1_evaluation',
 'HOBBIES_1_376_CA_1_evaluation',
 'HOBBIES_1_377_CA_1_evaluation',
 'HOBBIES_1_378_CA_1_evaluation',
 'HOBBIES_1_379_CA_1_evaluation',
 'HOBBIES_1_380_CA_1_evaluation',
 'HOBBIES_1_381_CA_1_evaluation',
 'HOBBIES_1_382_CA_1_evaluation',
 'HOBBIES_1_383_CA_1_evaluation',
 'HOBBIES_1_384_CA_1_evaluation',
 'HOBBIES_1_385_CA_1_evaluation',
 'HOBBIES_1_386_CA_1_evaluation',
 'HOBBIES_1_387_CA_1_evaluation',
 'HOBBIES_1_388_CA_1_evaluation',
 'HOBBIES_1_389_CA_1_evaluation',
 'HOBBIES_1_390_CA_1_evaluation',
 'HOBBIES_1_391_CA_1_evaluation',
 'HOBBIES_1_392_CA_1_evaluation',
 'HOBBIES_1_393_CA_1_evaluation',
 'HOBBIES_1_394_CA_1_evaluation',
 'HOBBIES_1_395_CA_1_evaluation',
 'HOBBIES_1_396_CA_1_evaluation',
 'HOBBIES_1_397_CA_1_evaluation',
 'HOBBIES_1_398_CA_1_evaluation',
 'HOBBIES_1_399_CA_1_evaluation',
 'HOBBIES_1_400_CA_1_evaluation',
 'HOBBIES_1_401_CA_1_evaluation',
 'HOBBIES_1_402_CA_1_evaluation',
 'HOBBIES_1_403_CA_1_evaluation',
 'HOBBIES_1_404_CA_1_evaluation',
 'HOBBIES_1_405_CA_1_evaluation',
 'HOBBIES_1_406_CA_1_evaluation',
 'HOBBIES_1_407_CA_1_evaluation',
 'HOBBIES_1_408_CA_1_evaluation',
 'HOBBIES_1_409_CA_1_evaluation',
 'HOBBIES_1_410_CA_1_evaluation',
 'HOBBIES_1_411_CA_1_evaluation',
 'HOBBIES_1_412_CA_1_evaluation',
 'HOBBIES_1_413_CA_1_evaluation',
 'HOBBIES_1_414_CA_1_evaluation',
 'HOBBIES_1_415_CA_1_evaluation',
 'HOBBIES_1_416_CA_1_evaluation',
 'HOBBIES_1_417_CA_1_evaluation',
 'HOBBIES_1_418_CA_1_evaluation',
 'HOBBIES_1_419_CA_1_evaluation',
 'HOBBIES_1_420_CA_1_evaluation',
 'HOBBIES_1_421_CA_1_evaluation',
 'HOBBIES_1_422_CA_1_evaluation',
 'HOBBIES_1_423_CA_1_evaluation',
 'HOBBIES_1_424_CA_1_evaluation',
 'HOBBIES_2_001_CA_1_evaluation',
 'HOBBIES_2_002_CA_1_evaluation',
 'HOBBIES_2_003_CA_1_evaluation',
 'HOBBIES_2_004_CA_1_evaluation',
 'HOBBIES_2_005_CA_1_evaluation',
 'HOBBIES_2_006_CA_1_evaluation',
 'HOBBIES_2_007_CA_1_evaluation',
 'HOBBIES_2_008_CA_1_evaluation',
 'HOBBIES_2_009_CA_1_evaluation',
 'HOBBIES_2_010_CA_1_evaluation',
 'HOBBIES_2_011_CA_1_evaluation',
 'HOBBIES_2_012_CA_1_evaluation',
 'HOBBIES_2_013_CA_1_evaluation',
 'HOBBIES_2_014_CA_1_evaluation',
 'HOBBIES_2_015_CA_1_evaluation',
 'HOBBIES_2_016_CA_1_evaluation',
 'HOBBIES_2_017_CA_1_evaluation',
 'HOBBIES_2_018_CA_1_evaluation',
 'HOBBIES_2_019_CA_1_evaluation',
 'HOBBIES_2_020_CA_1_evaluation',
 'HOBBIES_2_021_CA_1_evaluation',
 'HOBBIES_2_022_CA_1_evaluation',
 'HOBBIES_2_023_CA_1_evaluation',
 'HOBBIES_2_024_CA_1_evaluation',
 'HOBBIES_2_025_CA_1_evaluation',
 'HOBBIES_2_026_CA_1_evaluation',
 'HOBBIES_2_027_CA_1_evaluation',
 'HOBBIES_2_028_CA_1_evaluation',
 'HOBBIES_2_029_CA_1_evaluation',
 'HOBBIES_2_030_CA_1_evaluation',
 'HOBBIES_2_031_CA_1_evaluation',
 'HOBBIES_2_032_CA_1_evaluation',
 'HOBBIES_2_033_CA_1_evaluation',
 'HOBBIES_2_034_CA_1_evaluation',
 'HOBBIES_2_035_CA_1_evaluation',
 'HOBBIES_2_036_CA_1_evaluation',
 'HOBBIES_2_037_CA_1_evaluation',
 'HOBBIES_2_038_CA_1_evaluation',
 'HOBBIES_2_039_CA_1_evaluation',
 'HOBBIES_2_040_CA_1_evaluation',
 'HOBBIES_2_041_CA_1_evaluation',
 'HOBBIES_2_042_CA_1_evaluation',
 'HOBBIES_2_043_CA_1_evaluation',
 'HOBBIES_2_044_CA_1_evaluation',
 'HOBBIES_2_045_CA_1_evaluation',
 'HOBBIES_2_046_CA_1_evaluation',
 'HOBBIES_2_047_CA_1_evaluation',
 'HOBBIES_2_048_CA_1_evaluation',
 'HOBBIES_2_049_CA_1_evaluation',
 'HOBBIES_2_050_CA_1_evaluation',
 'HOBBIES_2_051_CA_1_evaluation',
 'HOBBIES_2_052_CA_1_evaluation',
 'HOBBIES_2_053_CA_1_evaluation',
 'HOBBIES_2_054_CA_1_evaluation',
 'HOBBIES_2_055_CA_1_evaluation',
 'HOBBIES_2_056_CA_1_evaluation',
 'HOBBIES_2_057_CA_1_evaluation',
 'HOBBIES_2_058_CA_1_evaluation',
 'HOBBIES_2_059_CA_1_evaluation',
 'HOBBIES_2_060_CA_1_evaluation',
 'HOBBIES_2_061_CA_1_evaluation',
 'HOBBIES_2_062_CA_1_evaluation',
 'HOBBIES_2_063_CA_1_evaluation',
 'HOBBIES_2_064_CA_1_evaluation',
 'HOBBIES_2_065_CA_1_evaluation',
 'HOBBIES_2_066_CA_1_evaluation',
 'HOBBIES_2_067_CA_1_evaluation',
 'HOBBIES_2_068_CA_1_evaluation',
 'HOBBIES_2_069_CA_1_evaluation',
 'HOBBIES_2_070_CA_1_evaluation',
 'HOBBIES_2_071_CA_1_evaluation',
 'HOBBIES_2_072_CA_1_evaluation',
 'HOBBIES_2_073_CA_1_evaluation',
 'HOBBIES_2_074_CA_1_evaluation',
 'HOBBIES_2_075_CA_1_evaluation',
 'HOBBIES_2_076_CA_1_evaluation',
 'HOBBIES_2_077_CA_1_evaluation',
 'HOBBIES_2_078_CA_1_evaluation',
 'HOBBIES_2_079_CA_1_evaluation',
 'HOBBIES_2_080_CA_1_evaluation',
 'HOBBIES_2_081_CA_1_evaluation',
 'HOBBIES_2_082_CA_1_evaluation',
 'HOBBIES_2_083_CA_1_evaluation',
 'HOBBIES_2_084_CA_1_evaluation',
 'HOBBIES_2_085_CA_1_evaluation',
 'HOBBIES_2_086_CA_1_evaluation',
 'HOBBIES_2_087_CA_1_evaluation',
 'HOBBIES_2_088_CA_1_evaluation',
 'HOBBIES_2_089_CA_1_evaluation',
 'HOBBIES_2_090_CA_1_evaluation',
 'HOBBIES_2_091_CA_1_evaluation',
 'HOBBIES_2_092_CA_1_evaluation',
 'HOBBIES_2_093_CA_1_evaluation',
 'HOBBIES_2_094_CA_1_evaluation',
 'HOBBIES_2_095_CA_1_evaluation',
 'HOBBIES_2_096_CA_1_evaluation',
 'HOBBIES_2_097_CA_1_evaluation',
 'HOBBIES_2_098_CA_1_evaluation',
 'HOBBIES_2_099_CA_1_evaluation',
 'HOBBIES_2_100_CA_1_evaluation',
 'HOBBIES_2_101_CA_1_evaluation',
 'HOBBIES_2_102_CA_1_evaluation',
 'HOBBIES_2_103_CA_1_evaluation',
 'HOBBIES_2_104_CA_1_evaluation',
 'HOBBIES_2_105_CA_1_evaluation',
 'HOBBIES_2_106_CA_1_evaluation',
 'HOBBIES_2_107_CA_1_evaluation',
 'HOBBIES_2_108_CA_1_evaluation',
 'HOBBIES_2_109_CA_1_evaluation',
 'HOBBIES_2_110_CA_1_evaluation',
 'HOBBIES_2_111_CA_1_evaluation',
 'HOBBIES_2_112_CA_1_evaluation',
 'HOBBIES_2_113_CA_1_evaluation',
 'HOBBIES_2_114_CA_1_evaluation',
 'HOBBIES_2_115_CA_1_evaluation',
 'HOBBIES_2_116_CA_1_evaluation',
 'HOBBIES_2_117_CA_1_evaluation',
 'HOBBIES_2_118_CA_1_evaluation',
 'HOBBIES_2_119_CA_1_evaluation',
 'HOBBIES_2_120_CA_1_evaluation',
 'HOBBIES_2_121_CA_1_evaluation',
 'HOBBIES_2_122_CA_1_evaluation',
 'HOBBIES_2_123_CA_1_evaluation',
 'HOBBIES_2_124_CA_1_evaluation',
 'HOBBIES_2_125_CA_1_evaluation',
 'HOBBIES_2_126_CA_1_evaluation',
 'HOBBIES_2_127_CA_1_evaluation',
 'HOBBIES_2_128_CA_1_evaluation',
 'HOBBIES_2_129_CA_1_evaluation',
 'HOBBIES_2_130_CA_1_evaluation',
 'HOBBIES_2_131_CA_1_evaluation',
 'HOBBIES_2_132_CA_1_evaluation',
 'HOBBIES_2_133_CA_1_evaluation',
 'HOBBIES_2_134_CA_1_evaluation',
 'HOBBIES_2_135_CA_1_evaluation',
 'HOBBIES_2_136_CA_1_evaluation',
 'HOBBIES_2_137_CA_1_evaluation',
 'HOBBIES_2_138_CA_1_evaluation',
 'HOBBIES_2_139_CA_1_evaluation',
 'HOBBIES_2_140_CA_1_evaluation',
 'HOBBIES_2_141_CA_1_evaluation',
 'HOBBIES_2_142_CA_1_evaluation',
 'HOBBIES_2_143_CA_1_evaluation',
 'HOBBIES_2_144_CA_1_evaluation',
 'HOBBIES_2_145_CA_1_evaluation',
 'HOBBIES_2_146_CA_1_evaluation',
 'HOBBIES_2_147_CA_1_evaluation',
 'HOBBIES_2_148_CA_1_evaluation',
 'HOBBIES_2_149_CA_1_evaluation',
 'HOUSEHOLD_1_001_CA_1_evaluation',
 'HOUSEHOLD_1_002_CA_1_evaluation',
 'HOUSEHOLD_1_003_CA_1_evaluation',
 'HOUSEHOLD_1_004_CA_1_evaluation',
 'HOUSEHOLD_1_005_CA_1_evaluation',
 'HOUSEHOLD_1_006_CA_1_evaluation',
 'HOUSEHOLD_1_007_CA_1_evaluation',
 'HOUSEHOLD_1_008_CA_1_evaluation',
 'HOUSEHOLD_1_009_CA_1_evaluation',
 'HOUSEHOLD_1_010_CA_1_evaluation',
 'HOUSEHOLD_1_011_CA_1_evaluation',
 'HOUSEHOLD_1_012_CA_1_evaluation',
 'HOUSEHOLD_1_013_CA_1_evaluation',
 'HOUSEHOLD_1_014_CA_1_evaluation',
 'HOUSEHOLD_1_015_CA_1_evaluation',
 'HOUSEHOLD_1_016_CA_1_evaluation',
 'HOUSEHOLD_1_017_CA_1_evaluation',
 'HOUSEHOLD_1_018_CA_1_evaluation',
 'HOUSEHOLD_1_019_CA_1_evaluation',
 'HOUSEHOLD_1_020_CA_1_evaluation',
 'HOUSEHOLD_1_021_CA_1_evaluation',

In [4]:
price

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

In [5]:
price.sort_values(by=['item_id','store_id'])

        store_id          item_id  wm_yr_wk  sell_price
368746      CA_1      FOODS_1_001     11101        2.00
368747      CA_1      FOODS_1_001     11102        2.00
368748      CA_1      FOODS_1_001     11103        2.00
368749      CA_1      FOODS_1_001     11104        2.00
368750      CA_1      FOODS_1_001     11105        2.00
...          ...              ...       ...         ...
6512550     WI_3  HOUSEHOLD_2_516     11617        5.94
6512551     WI_3  HOUSEHOLD_2_516     11618        5.94
6512552     WI_3  HOUSEHOLD_2_516     11619        5.94
6512553     WI_3  HOUSEHOLD_2_516     11620        5.94
6512554     WI_3  HOUSEHOLD_2_516     11621        5.94

[6841121 rows x 4 columns]

In [6]:
price.item_id.unique()

array(['HOBBIES_1_001', 'HOBBIES_1_002', 'HOBBIES_1_003', ...,
       'FOODS_3_825', 'FOODS_3_826', 'FOODS_3_827'], dtype=object)

In [7]:
calendar

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [8]:
calendar.wm_yr_wk.unique()

array([11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109,
       11110, 11111, 11112, 11113, 11114, 11115, 11116, 11117, 11118,
       11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, 11127,
       11128, 11129, 11130, 11131, 11132, 11133, 11134, 11135, 11136,
       11137, 11138, 11139, 11140, 11141, 11142, 11143, 11144, 11145,
       11146, 11147, 11148, 11149, 11150, 11151, 11152, 11201, 11202,
       11203, 11204, 11205, 11206, 11207, 11208, 11209, 11210, 11211,
       11212, 11213, 11214, 11215, 11216, 11217, 11218, 11219, 11220,
       11221, 11222, 11223, 11224, 11225, 11226, 11227, 11228, 11229,
       11230, 11231, 11232, 11233, 11234, 11235, 11236, 11237, 11238,
       11239, 11240, 11241, 11242, 11243, 11244, 11245, 11246, 11247,
       11248, 11249, 11250, 11251, 11252, 11301, 11302, 11303, 11304,
       11305, 11306, 11307, 11308, 11309, 11310, 11311, 11312, 11313,
       11314, 11315, 11316, 11317, 11318, 11319, 11320, 11321, 11322,
       11323, 11324, 11325, 11326, 11327, 11328, 11329, 11330, 11331,
       11332, 11333, 11334, 11335, 11336, 11337, 11338, 11339, 11340,
       11341, 11342, 11343, 11344, 11345, 11346, 11347, 11348, 11349,
       11350, 11351, 11352, 11353, 11401, 11402, 11403, 11404, 11405,
       11406, 11407, 11408, 11409, 11410, 11411, 11412, 11413, 11414,
       11415, 11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423,
       11424, 11425, 11426, 11427, 11428, 11429, 11430, 11431, 11432,
       11433, 11434, 11435, 11436, 11437, 11438, 11439, 11440, 11441,
       11442, 11443, 11444, 11445, 11446, 11447, 11448, 11449, 11450,
       11451, 11452, 11501, 11502, 11503, 11504, 11505, 11506, 11507,
       11508, 11509, 11510, 11511, 11512, 11513, 11514, 11515, 11516,
       11517, 11518, 11519, 11520, 11521, 11522, 11523, 11524, 11525,
       11526, 11527, 11528, 11529, 11530, 11531, 11532, 11533, 11534,
       11535, 11536, 11537, 11538, 11539, 11540, 11541, 11542, 11543,
       11544, 11545, 11546, 11547, 11548, 11549, 11550, 11551, 11552,
       11601, 11602, 11603, 11604, 11605, 11606, 11607, 11608, 11609,
       11610, 11611, 11612, 11613, 11614, 11615, 11616, 11617, 11618,
       11619, 11620, 11621], dtype=int64)

# Analysing the datasets

## For Train dataset

* Unique id column which had info (catoegory ,cat num and store number)
* item id which is in price and calendar 
* dep_id denotes which department the product is
* store_id denotes which store the product is
* and number of d_... columns from 1 to 1941 days

## price dataset

* store_id same as in train
* item_id same as in train
* wm_yr_wk (wallmart_year_week) this gives the chronological sequence but not ordered
* sell_price gives the price of the product that week

## calendar dataset

* date gives the date of the record
* wm_yr_wk same as in price dataset but it is ordered in chronlogical order
* weekday and wday gives the same thing but we can say wday is label encoded
* month gives what month ranges(1 to 12)
* year gives what year it is
  * These last 3 or 4 columns can be derived from date

* d gives the details about the count of day which is same number in columns of train ranges(1 to 1941)
* event_name and event_type (4 columns) these gives the event and type of event happening in that particular day if there are 2 events in a day thus there are 2 columns of each
* snap is a system in US (Supplemental Nutrition Assistance Program) which the government give money to buy food the elegibility is given to certain stores at certain times in (0,1)


## Additional details

* wm_yr_wk has values from 11101 (1_11_01 stands as wm_yr_wk), since in a year there can be 52 week max the last 2 digits cannot be more than 52
* the id in train is combination of item_id and store_id
* the dep_id in train can be derived from dept_id

In [9]:
pd.concat([sales,price])

MemoryError: Unable to allocate 98.9 GiB for an array with shape (1941, 6841121) and data type float64

## Here I cant concat the datasets due to memory error....
***

In [10]:
price.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 957.5 MB

In [11]:
sales.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 463.3 MB

In [12]:
calendar.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 737.5 KB

### These are the memory usages

Reducing the memory by changing the datatypes of dataframe

like uint8 or bool these take significantly less storage but ranges should be considered

In [13]:
price.describe()

           wm_yr_wk    sell_price
count  6.841121e+06  6.841121e+06
mean   1.138294e+04  4.410952e+00
std    1.486100e+02  3.408814e+00
min    1.110100e+04  1.000000e-02
25%    1.124700e+04  2.180000e+00
50%    1.141100e+04  3.470000e+00
75%    1.151700e+04  5.840000e+00
max    1.162100e+04  1.073200e+02

In [14]:
sales.describe()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
count,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,...,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000
mean,1.070220,1.041292,0.780026,0.833454,0.627944,0.958052,0.918662,1.244080,1.073663,0.838701,...,1.445490,1.781174,1.965267,1.389374,1.271794,1.216661,1.212299,1.395605,1.689669,1.782158
std,5.126689,5.365468,3.667454,4.415141,3.379344,4.785947,5.059495,6.617729,5.917204,4.206199,...,3.656824,4.426550,4.706284,3.313292,3.126178,3.000348,2.955910,3.514318,4.089208,4.284356
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,360.000000,436.000000,207.000000,323.000000,296.000000,314.000000,316.000000,370.000000,385.000000,353.000000,...,143.000000,156.000000,187.000000,98.000000,90.000000,77.000000,84.000000,110.000000,156.000000,117.000000

In [15]:
calendar.describe()

,wm_yr_wk,wday,month,year,snap_CA,snap_TX,snap_WI
count,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000
mean,11347.086338,3.997461,6.325546,2013.288471,0.330117,0.330117,0.330117
std,155.277043,2.001141,3.416864,1.580198,0.470374,0.470374,0.470374
min,11101.000000,1.000000,1.000000,2011.000000,0.000000,0.000000,0.000000
25%,11219.000000,2.000000,3.000000,2012.000000,0.000000,0.000000,0.000000
50%,11337.000000,4.000000,6.000000,2013.000000,0.000000,0.000000,0.000000
75%,11502.000000,6.000000,9.000000,2015.000000,1.000000,1.000000,1.000000
max,11621.000000,7.000000,12.000000,2016.000000,1.000000,1.000000,1.000000